<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteka</title>
    <!-- Zmiana biblioteki ikon na Boxicons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <h1><i class='bx bx-library'></i> Moja Biblioteka</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <p>
            {% set n = books|length %}
            Aktualnie biblioteka zawiera {{ n }}
            {% if n == 1 %}
            pozycję
            {% elif n % 10 in [2, 3, 4] and n % 100 not in [12, 13, 14] %}
            pozycje
            {% else %}
            pozycji
            {% endif %}
        </p>
        <h2>Lista książek</h2>
        {% if books %}
        <table>
            <thead>
                <tr>
                    <th>Okładka</th>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Gatunek</th>
                    <th>Rok</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>
                        {% if book.cover %}
                        <img src="{{ url_for('static', filename='uploads/' + book.cover) }}" alt="Okładka"
                            class="book-cover-thumbnail">
                        {% else %}
                        <img src="https://via.placeholder.com/50x75.png?text=Brak" alt="Brak okładki"
                            class="book-cover-thumbnail">
                        {% endif %}
                    </td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.year }}</td>
                    <td class="actions">
                        <a href="{{ url_for('book_edit', book_id=book.id) }}" class="btn btn-secondary">
                            <i class='bx bxs-edit-alt'></i> Edytuj
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Brak książek w bibliotece.</p>
        {% endif %}
        <div class="actions">
            <a href="{{ url_for('book_add') }}" class="btn">
                <i class='bx bx-plus'></i> Dodaj książkę
            </a>
        </div>
    </div>
</body>

</html>